{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block title %}
  Blog
{% endblock %}
{% block content %}
  <h1 class="text-xl font-bold flex flex-row justify-center">Recent Blog</h1>
  {% if tag %}
    <h2>Posts tagged with "{{ tag.name }}"<span><a href="/" class="ml-2 underline">Clear tags</a></span></h2>
  {% endif %}
  {% for post in posts %}
    <div class="border my-4 mr-4 p-2">
      <h2 class="text-xl font-bold underline text-blue-400 hover:text-blue-500 w-fit"><a href="{% url 'blog:post_detail' post.publish.year post.publish.month post.publish.day post.slug %}">{{ post.title }}</a></h2>
      <p class="text-sm text-black/70">
        Tags:{% if post.tags.all %}
          {% for tag in post.tags.all %}
            <a class="text-blue-400 hover:text-blue-500" href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }}</a>
            {% if not forloop.last %}, {% endif %}
          {% endfor %}
        {% else %}
          -
        {% endif %}
      </p>
      <p class="text-sm text-black/50 italic">Published {{ post.publish }} by {{ post.author }}</p>
      <div>{{ post.body|truncatewords:30|markdown }}</div>
    </div>
  {% endfor %}
  {% include 'blog/pagination.html' with page=posts %}
{% endblock %}
