{% extends 'blog/base.html' %}
{% block title %}
  Blog
{% endblock %}
{% block content %}
  <h1 class="text-xl font-bold flex flex-row justify-center">Recent Blog</h1>
  {% for post in posts %}
    <div class="border my-4 mr-4 p-2">
        <h2 class="text-xl font-bold underline text-blue-400 hover:text-blue-500 w-fit"><a href="{% url 'blog:post_detail' post.publish.year post.publish.month post.publish.day post.slug %}">{{ post.title }}</a></h2>
        <p class="text-black/50">Published {{ post.publish }} by {{ post.author }}</p>
        {{ post.body|truncatewords:30|linebreaks }}
    </div>
  {% endfor %}
  {% include 'blog/pagination.html' with page=posts %}
{% endblock %}
