{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
      {% endblock %}
      {% tailwind_css %}
    </title>
    {% comment %} <link href="{% static 'blog/css/blog.css' %}" rel="stylesheet"> {% endcomment %}
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">
  </head>
  <body class="flex flex-row justify-between p-4 min-h-screen">
    <div id="content" class="w-2/3">
      {% block content %}
      {% endblock %}
    </div>
    <div class="w-1/3 rounded border-l p-8">
      <a href="/" class="text-xl text-blue-500 underline">Home</a>
      <h2>Django Project</h2>
      <p></p>
    </div>
  </body>
</html>